// Place all the styles related to the group controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// new page
.group-new-page{
	height: 100%;
	width: 100%;
	text-align: center;
	margin: 80px 0;
	padding-top: 50px;
}
.group-new-page h1{
	font-size: 30px;
	margin-bottom: 10px;
	color: #81F781;
}
.howtouse-link{
	color: #fff;
	background-color: tomato;
	padding: 7px 18px;
	border-radius: 10px;
}
.new-form{
	width: 90%;
	max-width: 480px;
	height: 100%;
	text-align: center;
	margin: 0 auto;
  	background-color: #81F781;
  	padding: 80px 0;
  	margin-top: 10px;
  	border-radius: 10px;
}
.new-form h3{
	font-size: 25px;
	color: #fff;
	margin-bottom: 15px;
}
.login-text{
	font-size: 14px;
	color: #555;
	padding-bottom: 15px;
}
.new-form label{
	font-size: 15px;
}
.new-form span{
	font-size: 13px;
	color: tomato;
}
.new-form input{
	width: 80%;
	margin-top: 10px;
}
.new-form .input-text{
	padding: 8px 10px;
	border-radius: 20px;
	font-size: 16px;
	margin-bottom: 15px;
}
.agreement-link{
	font-size: 13px;
	color: tomato;
}
#login-form{
	display: none;
}
.move-btn{
	display: inline-block;
	background-color: #CC0066;
	padding: 10px 15px;
	border-radius: 30px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
}

// show page
.chat-room{
	width: 100%;
	height: 100%;
	padding-top: 60px;
	max-width: 480px;
	margin: 0 auto;
	padding-bottom: 30px;
}
.message-list{
	width: 100%;
	height: 100%;
}
.message-contents{
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px 0;
}
.message-name{
	font-size: 15px;
	color: #333;
	font-weight: bold;
}
.name-left{
	float: left;
	margin-left: 5px;
}
.message-time{
	font-size: 13px;
	color: #555;
	margin-right: 5px;
	float: right;
}
#messages{
	overflow: auto;
}
.message{
	display: inline-block;
	height: 100%;
	width: 100%;
	background-color: #fff;
	padding: 10px 0;
}
.message:not(:first-child){
	border-top: 1px solid #ccc;
}
.my-message{
	background-color: #006666;
	color: #fff;
}
.message-body{
	font-size: 14px;
	width: 95%;
	margin: 10px auto;
	line-height: 1.6em;
	letter-spacing: 0.1em;
	word-wrap: break-word;
}
.chat-form{
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	border-top: 1px solid #333;
	background-color: #fff;
}
.form-box{
	display: inline-block;
	width: 80%;
	max-width: 600px;
	position: relative;
}
.chat-form textarea{
	display: inline-block;
	padding: 5px 10px;
	font-size: 16px;
	background-color: #fff;
	width: 100%;
	margin-top: 6px;
	padding-bottom: 20px;
}
.chat-submit{
	display: block;
	position: absolute;
	bottom: 8px;
	right: -63px;
	padding: 5px 8px;
	font-size: 15px;
	border-radius: 10px;
	background-color: blue;
	color: #fff;
	font-weight: bold;
}
.chat-submit:disabled{
	background-color: #708090;
}
.exit-btn{
	background-color: tomato;
	padding: 5px 15px;
	border-radius: 30px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	float: right;
}
@media screen and (min-width: 600px){
	.chat-form{
		text-align: center;
	}
}
@media screen and (min-width: 380px){
	.logout-message-box{
		text-align: center;
	}
}